<th scope="row">
  <%= transaction.date %>
</th>
<td>
  <%= number_to_currency(transaction.amount) %>
</td>
<td>
  <%= transaction.category %>
</td>
<td>
  <%= image_tag(transaction.receipt, size: 25) %>
</td>
<td>
  <%= link_to edit_transaction_path(transaction), class: "btn btn-link" do %>
  <i class="fas fa-edit"></i>
  <% end %>
</td>
<td>          
  <%= link_to transaction, method: :delete, remote: true, class: "btn btn-link" do %>
  <i class="fas fa-trash-alt"></i>
  <% end %>
</td>