
<%= render "form", transaction: Transaction.new %>

<br>
<h5>Transaction History</h5>

<%= render "qtdsum" %>
<br>

<table class = "table table-striped" >
    <thead class="thead-light">
    <tr>
      <th scope="col-md-3">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Receipt</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>

  <tbody id = "transaction_list">
    <% @transactions_pagy.each do |transaction| %>

      <tr id="<%= dom_id(transaction) %>">
        <td class="align-middle">
          <%= transaction.date %>
        </td>
        <td class="align-middle">
          <%= number_to_currency(transaction.amount) %>
        </td>
        <td class="align-middle">
          <%= transaction.category %>
        </td>
        <td class="align-middle">
          <%= image_tag(transaction.receipt, size: 25) %>
        </td>
        <td class="align-middle">
          <%= link_to edit_transaction_path(transaction), class: "btn btn-link" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        </td>
        <td class="align-middle">          
          <%= link_to transaction, method: :delete, remote: true, class: "btn btn-link" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
<%= pagy_bootstrap_nav(@pagy).html_safe %>