
<div class="container pb-3">
<span class = "small"> <%= "Current quarter start date: #{Date.today.beginning_of_quarter}" %> </span>
  <div class="row justify-content-around">
    <div class="col-md-5 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
        <h6>How is my spending this quarter looking so far?</h6>
          <%= area_chart @current_user_cumulative_spending_qtd %>
    </div>

    <div class="col-md-5 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
        <h6>What did my spending last quarter look like?</h6>
          <%= area_chart @current_user_cumulative_spending_last_quarter %>
    </div>
  </div>


  <div class="row justify-content-around">
    
    <div class="col-md-5 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
      <h6>What have I been spending on this quarter?</h6>
      <%= pie_chart @transactions_categories_current_user, donut: true, suffix: "%", round: 2 %>
      <br/>

      <div class="container">
        <div class="row justify-content-around">
          <% @transactions_categories_current_user_stable.each do |k,v| %>
            <small class="col text-muted">
              <%= p "#{k}: $#{v.to_i}" %>
            </small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
      <h6>What has my team been spending on this quarter?</h6>
      <%= pie_chart @transactions_categories_all_users, donut: true, suffix: "%", round: 2 %>
      <br/>
  
      <div class="container">
        <div class="row justify-content-around">
          <% @transactions_categories_all_users_stable.each do |k,v| %>
            <small class="col text-muted">
              <%= p "#{k}: $#{v.to_i}" %>
            </small>
          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="row justify-content-around">
    
    <div class="col-md-5 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
      <h6>What have I been spending in recent quarters?</h6>
      
      <%= column_chart @transactions_amount_current_user, prefix: "$" %>

    </div>
    <div class="col-md-5 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
      <h6>What has my team been spending in recent quarters?</h6>
      <%= column_chart @transactions_amount_all_users, prefix: "$" %>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-md-11 mt-3 pt-2 pb-2 border border-secondary rounded bg-light">
        <h6>What have I been spending by category in recent quarters?</h6>
        <%= line_chart @current_user_quarterly_spend_by_category, prefix: "$" %>
  
    </div>
  </div>

</div>

